.nav {
  background-color: #2a2f5f !important;
  background-image: url("/img/header.jpg");
  background-size: cover;
  color: #ffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* color : #495057; */
}
.ks-logo-shadow {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .5), 0 0 10px 0 rgba(0, 0, 0, .8);
}

.btn-blue, .table-head {
  color: #fff;
  background-color: #1b215a;
}
.table-body{
  background-color: #fff;
  color:black;
}

.btn-blue:hover {
  color: #fff;
  background-color: #283392;
}

.btn-outline-dark {
  color: #fff;
  background-color: #1b215a;
}

.btn-outline-dark:hover {
  background-color: #283392;
}
